a{
  text-decoration: none;
  color: black;
}
header {
  text-align: right;
}
img {
  height: 92px;
  width: 272px;
  margin-left: 540px;
  margin-top: 170px;
}
input {
  margin-left: 400px;
  margin-top: 20px;
  width: 530px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 3px lightgrey;
}
#first {
  margin-left: 530px;
  margin-top: 30px;
  border-radius: 2px;
}
#second {
  margin-top: 30px;
  margin-left: auto;
  border-radius: 2px;
}
footer {
  background-color: #F2F2F2;
  color: black;
  padding-bottom: 8px;
  padding-top: 15px;
  margin-top: 160px;
  margin-left: 0;
  margin-right: 0;
}
.right {
   margin-left: 260px;
}
